*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  font-family: Raleway, sans-serif;
  color: #2C2D35;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}