.header {
  padding: 33px 165px 32px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  justify-content: end;
  background-color: #E1EDE6;
}

.logo-size {
  display: block;
  width: 143px;
}

.nav {
  width: 500;
  font-size: 20px;
  letter-spacing: 0;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-self: end;
  gap: 60px;
}

.nav__item {
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.link-decoration {
  text-decoration: none;
  color: #2C2D35;
  ;
}

.cart-size {
  display: inline-block;
  width: 24px;
  vertical-align: middle;
}

.banner {
  padding: 0 165px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

.bird {
  width: 540px;
}

.banner-info {
  padding: 144px 0 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 60px;
  letter-spacing: 0;

}

.banner-info__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-info__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  letter-spacing: 110%;
}

.banner-info__title--color {
  color: green;
  ;
}

.banner-info__text {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 150%;
  color: #86928B;
}

.banner-info__button {
  all:unset;
  font-weight: 500;
  font-size: 20px;
  color: #86928B;
  border: #86928B 1px solid;
  width: fit-content;
  padding: 20px 60px;
}

.catalog {
  margin: 70px 165px;
}

.catalog-title {
  display: flex;
  justify-content: space-between;
}

.catalog-title__text {
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}

.catalog-title__buttons {
  list-style: none;
  display: flex;
  gap: 31px;
}

.catalog-title__button {
  all: unset;
  font-size: 20px;
  letter-spacing: 0;
  background-color: #D4E8D9;
  border-radius: 30px;
  padding: 10px 20px;
}

.catalog-cards__list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.catalog-card__item {
  list-style: none;
  background-color: #E1EDE6;
}

.catalog-card {
  padding: 20px 20px 30px;
}

.link-card-image {
  display: block;
}

.image-hipertext {
  display: block;
}

.catalog-card__image {
  width: 310px;
  height: 422px;
}


.catalog-card__author {
  margin-top: 16px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;
  color: #86928B;
}

.catalog-card__name-of-picture {
  margin-top: 9px;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0;
}

.catalog-card__type-of-picture {
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
}

.catalog-card__price {
  margin-top: 29px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0;
  color: #598D66;
}

.catalog-card__add-cart {
  all: unset;
  margin-top: 21px;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #86928B;
  border: #86928B 1px solid;
  letter-spacing: 0;
  width: fit-content;
  padding: 20px 106px;
}

.conteiner {
  position: relative;
  margin-top: 70px;
  min-height: 574px;
  background-image: url(../images/background-cover.png);
  padding: 70px 0 68px 165px ;
}

.overlay {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-image: url(../images/cover-image.png);
}

.overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  background-size: cover;
  background-image: url('../images/cover-style.png');
}

.conteiner-title {
  position: relative;
  max-width: 521px;
  background-image: url(../images/star.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.conteiner-title__text {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-left: 100px;
  line-height: 100%;
}

.conteiner-text {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
  color: white;
  max-width: 540px;
  margin-top: 20px;
}

.conteiner-button {
  position: relative;
  margin-top: 61px;
  font-weight: 500;
  font-size: 20px;
  background-color: #EEDB6D;
  padding: 20px 60px;
  border: 1px solid black;
}

.team {
  margin: 70px 165px;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.team-malbert {
  display: block;
  height: 440px;
  width: 445px;
}

.team-info {
  padding: 124px 0 44px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0;
}

.team-info-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

.team-fotos-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.teammate-foto {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}